@import "../../styles/base/colors.scss";
@import "../../styles/utils/breakpoints";

.others-watching-grid-left {
	display: grid;
	grid-gap: 15px;
}

.others-watching-grid-middle {
	display: grid;
}

.others-watching-grid-right {
	@include largescreen {
		display: none;
	}
	@include xxlscreen {
		display: grid;
		grid-gap: 15px;
	}
}

.card-with-background {
	padding: 60px;
	box-sizing: border-box;
	background-color: $sky;
	min-height: 300px;

	@include mobile {
		width: 100%;
	}

	@include xxlscreen {
		width: 440px;
	}

	.card-body {
		display: flex;
		flex-direction: column;
		grid-gap: 20px;
		color: $white;
	}

	.card-footer {
		margin-top: 50px;
	}
}
