$midnight: #071b31;
$midnight-light: rgba(7, 27, 49, 50%);
$midnight-lighter: rgba(72, 114, 160, 0.089);
$brick: #9b001b;
$apple: #b40524;
$coral: #db0027;
$sky: #faf9fa;
$cloud: #f5f5f7;
$black: #221c27;
$white: #ffffff;
$white-light: rgba(255, 255, 255, 50%);
