//includes rules for containers at different breakpoints
$containerWidthMobile: 320px;
$containerWidthTablet: 375px;
$containerWidthSmallScreen: 650px;
$containerWidthLargeScreen: 1000px;
$containerXLScreen: 1200px;
$containerXXLScreen: 1355px;
