@import "../../styles/base/colors.scss";
@import "../../styles/utils/breakpoints";

.inspired-grid {
	width: 100%;
	display: flex;
	gap: 20px;

	@include mobile {
		flex-direction: column;
	}

	@include largescreen {
		flex-direction: column;
	}

	@include xlscreen {
		flex-direction: row;
	}
}
.inspired-left {
	display: flex;
	flex-direction: column;

	gap: 20px;
}

.inspired-right {
	grid-column: 2;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.inspired-right-bottom {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;

		@include smallscreen {
			grid-template-columns: 1fr;
			align-items: center;
			justify-items: center;
		}

		@include xlscreen {
			grid-template-columns: 1fr 1fr;
			align-items: flex-start;
			justify-items: flex-start;
		}

		.inspired-right-bottom-left {
			display: flex;
			flex-direction: column;
			gap: 20px;

			@include smallscreen {
				align-items: center;
				justify-items: center;
			}
		}
		.inspired-right-bottom-right {
			display: flex;
			flex-direction: column;
			gap: 20px;

			@include smallscreen {
				align-items: center;
				justify-items: center;
			}

			@include largescreen {
				display: none;
			}

			@include xxlscreen {
				display: flex;
				align-items: flex-start;
				justify-items: start;
			}
		}
	}
}

.card-with-image-bt {
	box-sizing: border-box;
	background-color: #ecebf0;
	padding-top: 60px;
	padding-left: 60px;
	padding-right: 60px;
	background-image: url("../../public/otherbuild.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 441px;
	min-height: 673px;
	height: 100%;

	@include mobile {
		width: 320px;
		height: auto;
	}

	@include smallscreen {
		width: 100%;
		height: auto;
	}

	@include xlscreen {
		width: 580px;
		min-height: 578px;
		height: auto;
	}

	@include xxlscreen {
		width: 441px;
		min-height: 670px;
		height: auto;
	}

	.card-with-image-bt-content {
		display: grid;
		grid-gap: 15px;
	}
}
