@import "../../styles/base/colors.scss";
@import "../../styles/utils/breakpoints";

.inspired-grid {
	display: grid;
	grid-gap: 20px;

	@include smallscreen {
		display: flex;
		flex-direction: column;
	}

	@include largescreen {
		flex-direction: column;
	}

	@include xlscreen {
		flex-direction: row;
	}

	@include xxlscreen {
		display: grid;
	}
}

.inspired-left {
	display: grid;
	width: 440px auto;
	gap: 20px;

	@include xlscreen {
		width: 50%;
	}

	@include xxlscreen {
		width: 100%;
	}
}

.inspired-right {
	grid-column: 2;
	display: flex;
	flex-direction: column;
	gap: 20px;

	@include xlscreen {
		width: 50%;
	}

	@include xxlscreen {
		grid-column: 2;
		width: auto;
	}

	.inspired-right-bottom {
		display: flex;
		gap: 20px;

		@include smallscreen {
			flex-direction: column;
		}

		@include xxlscreen {
			flex-direction: row;
		}

		.inspired-right-bottom-left {
			display: grid;
			flex-direction: column;
			gap: 20px;

			@include smallscreen {
				align-items: center;
				justify-items: center;
			}
		}
		.inspired-right-bottom-right {
			display: flex;
			flex-direction: column;
			gap: 20px;

			@include smallscreen {
				align-items: center;
				justify-items: center;
			}

			@include largescreen {
				display: none;
			}

			@include xxlscreen {
				display: flex;
				align-items: flex-start;
				justify-items: start;
			}
		}
	}
}

.card-with-image-bt {
	box-sizing: border-box;
	background-color: #ecebf0;
	padding-top: 60px;
	padding-left: 60px;
	padding-right: 60px;
	background-image: url("../../public/images/otherbuild.webp");
	background-repeat: no-repeat;
	background-position: center;
	width: 441px;
	height: 655px;

	@include mobile {
		width: 100%;
		min-height: auto;
		height: 655px;
	}

	.card-with-image-bt-content {
		display: grid;
		grid-gap: 15px;
	}
}
