@import "../../styles/base/colors.scss";
@import "../../styles/utils/breakpoints";

.tutorial-card {
	min-height: 510px;
	padding: 30px;
	box-sizing: border-box;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	position: relative;
	overflow: hidden;
	background-size: 470px;
	background-repeat: no-repeat;

	@include smallscreen {
		width: 100%;
		background-size: cover;
		justify-content: center;
	}

	@include xlscreen {
		width: 600px;
	}

	@include xxlscreen {
		width: 100%;
	}

	.tutorial-card-footer {
		h3 {
			color: $white;
		}
	}
}

.dark {
	.tutorial-card-footer {
		h3 {
			color: $midnight;
		}
	}
}

.inspired-tut {
	height: auto;
}
