@import "../../styles/base/colors";

.tag-box {
	cursor: default;
	width: 76px auto;
	height: 26px;
	border: none;
	background: none;
	background-color: $coral;
	border-radius: 5px;
	color: $white-light;
	user-select: none;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.secondary {
	background-color: $white-light;
	color: $midnight-light;
}

.tertiary {
	background-color: $black;
	color: $white;
}

.tag-active {
	background-color: $brick;
}

.secondary.tag-active {
	background-color: $cement;
}
